* {
    box-sizing: border-box;
}

h3,
h4,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

html,
body {
    height: 100%;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

body {
    margin: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    width: 384px;
    height: 611px;
    background: #1F1F1F;
    border-radius: 12px;
    color: #FFF;
    text-align: center;
    padding: 40px;

}

article>div {
    display: flex;
    row-gap: 16px;
    flex-direction: column;

}

article>div a {
    width: 304px;
    height: 45px;
    background-color: #333333;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease-in;
}

article>div a:hover {
    background-color: #C4F82A;
    color: #1F1F1F;

}

img {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    margin-bottom: 24px;
}

h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 4px;
}

h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #C4F82A;
    margin-bottom: 24px;
}

p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    color: #FFFFFF;
    margin-bottom: 24px;
}